﻿@model KenakataApp.Models.AdminLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Login", "AdminLogin", FormMethod.Post, new { id = "saveLoginForm" }))
{
   @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">

            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
                <br />
                <span style="font-style:italic;color:red">@ViewBag.msg</span>
            </div>

        </div>

    </div>
}
@section Scripts {

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        $("#saveLoginForm").validate({
            rules: {
                UserName: "required",
                Password: {
                    required: true,
                    maxlength: 20,
                    minlength: 6
                },

            },
            messages: {
                UserName: "Please enter user name",
                Password: {
                    required: "Please enter the password",
                    maxlength: "Password must consist of at most 10 characters",
                    minlength: "Password must consist of at least 6 characters"
                },

            }
        });
    </script>
}
